<!DOCTYPE html>
<html lang="es">
<body class="container">
  <div class="logo-container">
  <img src="assets/logo.png" alt="Logo de la aplicación" class="logo">
</div>
<div *ngIf="usuario">
    <h2 class="mt-4">Home de {{usuario.usuario}}</h2>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-text">Usuario: {{ usuario.usuario }}</h5>
        <p class="card-text">Nombre: {{ usuario.nombre }}</p>
        <p class="card-text">Email: {{ usuario.email }}</p>
      </div>
    </div>

    <!-- Grupos -->
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">Grupos</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let grupo of usuario.grupos">{{ grupo.nombre }}</li>
        </ul>
      </div>
    </div>

    <!-- Amigos -->
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">Amigos</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let amigo of usuario.amigos">{{ amigo.usuario }}</li>
        </ul>
      </div>
    </div>

    <!-- Saldos -->
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">Saldos</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let saldo of usuario.saldos">{{ saldo.monto }}</li>
        </ul>
      </div>
    </div>

    <!-- Pagos -->
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">Pagos</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let pago of usuario.pagos">{{ pago.monto }}</li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
