<div class="form-container">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
    <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre">
          <div>
            <label for="nombre">Fecha</label>
            <p class="mb-0 opacity-75">{{gasto.fecha}}</p>
          </div>
            <label for="nombre">Monto</label>
            <input type="number" id="monto" formControlName="monto">
            <button type="button" class="btn btn-success" (click)="onActualizarGasto()">Actualizar</button> 

          </div>
          <small class="opacity-50 text-nowrap"></small>
        </div>