.column-container {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr;
    gap: 6px 8px;
    justify-content: center;
    align-content: start;
    justify-items: center;
    align-items: start;
}

.row-container {
    display: grid;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 6px 8px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: start;
    justify-items: center;
    align-items: start;
}