<div class="form-container">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
  <form [formGroup]="grupoForm" (ngSubmit)="onCrearGrupo()">
     <div class="form-group">
      <label for="nombre">Nombre Del Grupo</label>
      <input type="text" id="nombre" formControlName="nombre">
    </div>
    <div class="form-group">
      <label for="foto">Imagen</label>
      <input type="file" id="imagen" formControlName="imagen" accept="image/*">
  </div>
  
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" formControlName="categoria">
            <ng-container *ngFor="let categoria of categorias">
                <option *ngIf="categoria.tipo == 'grupo'" [value]="categoria.idCategoria">{{ categoria.nombre }}</option>
            </ng-container>
        </select>
    </div>
    <!-- Nuevo select para los amigos -->
    <div class="form-group">
      <label for="amigos">Amigos</label>
      <select id="amigos" formControlName="amigos">
        <option *ngFor="let amigo of misAmigos" [value]="amigo.idUsuario" >{{ amigo.usuario }}</option>
      </select>
  </div>
    <button type="submit">Crear Grupo</button>
  </form>
</div>

