<div class="form-container">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
  <form [formGroup]="grupoForm">
     <div class="form-group">
      <label for="nombre">Nombre Del Grupo</label>
      <input type="text" id="nombre" formControlName="nombre">
    </div>
    <div class="form-group">
      <label for="foto">Imagen</label>
      <input type="file" id="imagen" formControlName="imagen" accept="image/*">
  </div>
  
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" formControlName="categoria">
            <ng-container *ngFor="let categoria of categorias">
                <option  [value]="categoria.idCategoria">{{ categoria.nombre }}</option>
            </ng-container>
        </select>
    </div>
    <!-- Nuevo select para los amigos -->
    
      <label for="amigos">Amigos</label>
      
        <div *ngIf="dropdownList.length==0"></div>
        <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList">

        </ng-multiselect-dropdown>
      
  
    <button (click)="onCrearGrupo()">Crear Grupo</button>
  </form>
</div>

