<div class="form-container">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
    <form [formGroup]="grupoForm" (ngSubmit)="onActualizarGrupo()">
      <div class="form-group">
        <label for="nombre">Nombre del Grupo</label>
        <input type="text" id="nombre" formControlName="nombre">
      </div>
      
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" formControlName="categoria">
            <ng-container *ngFor="let categoria of categorias">
                <option *ngIf="categoria.tipo === 'grupo'" [ngValue]="categoria.idCategoria">{{ categoria.nombre }}</option>
            </ng-container>
        </select>
    </div>
      <button type="submit">Actualizar Grupo</button>
    </form>
  </div>
  