  /* Contenedor del formulario */
  .form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  #icon {  
     width: 80%; /* Ajusta el porcentaje según sea necesario */
    max-width: 250px; /* Ajusta el tamaño máximo según sea necesario */
    }
      /* Estilos para cada campo */
  .form-group {
    margin-bottom: 15px;
  }
    /* Estilos para etiquetas */
    label {
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      /* Estilos para campos de entrada */
      input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 5px;
      }
   /* Estilos para el botón de registro */
   button {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    
  }    