<div class="form-container">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>
    <form [formGroup]="grupoForm" (ngSubmit)="onActualizarGrupo()">
      <div class="form-group">
        <label for="nombre">Nombre del Grupo</label>
        <input type="text" id="nombre" formControlName="nombre">
      </div>
      <div class="form-group">
        <label for="imagen">Imagen</label>
        <input type="text" id="imagen" formControlName="imagen">
      </div>
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" formControlName="categoria">
          <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">{{ categoria.nombre }}</option>
        </select>
      </div>
      <!-- Nuevo select para los amigos -->
      <div class="form-group">
        <label for="amigos">Amigos</label>
        <select id="amigos" formControlName="amigos">
          <option *ngFor="let amigo of misAmigos" [value]="amigo.idUsuario">{{ amigo.nombre }}</option>
        </select>
      </div>
      <button type="submit">Actualizar Grupo</button>
    </form>
  </div>
  